.urls-area{
	margin: 10px 0px;
}

.urls-textarea{
	width: 100%;
	padding: 25px;
}

input.shortme{
	border:none;
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;
}

input.shortme:hover{
	cursor: pointer;
	color:gray;
}