body{
	margin:50px 0px;
}

h1.logo-text{
	display: block;
}

.urls-textarea{
	width: 100%;
	padding: 25px;
}

input.shortme{
	border:none;
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;
}

input.shortme:hover{
	cursor: pointer;
	color:gray;
}

.header{
	background-color:gray;
	display: block;
	min-height: 150px;
	margin-bottom: 30px;
}

.header h1{
	display: block;
	color: white;
	margin: 40px 20px;
}

.header ul{
}

.header ul li{
	display: inline-block;	

}

.header ul li a{
	margin: 15px 20px;
	color: white;
	text-decoration: none;
}

.header ul li a:hover{
	color:black;

}